@import 'https://fonts.googleapis.com/css?family=Catamaran';
body, html{padding:10;
    margin:0;
height:100%}

.pullBottom{
    position:absolute;
    bottom:0;
}
*{
    font-family:Catamaran;
    /*|Comfortaa|Dosis|Raleway|Sanchez;*/
}
.fullwidth {

    background-color: rgba(255, 255, 255,0.4);
    display:block;
    margin:auto;
    width:100%;
}

.menuRow {
    padding: 10px;
    list-style: none;
    position: relative;

}
.menuButton{
    width:33%;
    height:50px;

    display:inline;
    /*float: left;*/
    position: relative;
    padding: 10px;
}

ul {
    padding: 10px;
    list-style: none;
    position: relative;

}
li {
    display:inline-block;
    /*float: left;*/
    position: relative;
    padding: 10px;
}

/*#particles-js {*/
    /*background-image: url('');*/
    /*background-color: rgb(62, 62, 62);*/
    /*background-size: cover;*/
    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
/*}*/
